@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,400');

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 400 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

p {
  font-size: 16px;
}

.navbar {
  background-color: #9fca87d1 !important;
}

.navbar-brand {
  margin-right: 15px;
  color: #333 !important;
}

.navbar li a {
  color: #333 !important;
  transition: 250ms all;
}

.navbar li a:hover {
  background-color: #d6efc6bd !important;
}

.navbar li.active a {
  background-color: #d6efc6bd !important;
}