@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,400');

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 400 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
}

.navbar {
  background-color: #9fca87d1 !important;
}

.navbar-brand {
  margin-right: 15px;
  color: #333 !important;
}

.navbar li a {
  color: #333 !important;
  transition: 250ms all;
}

.navbar li a:hover {
  background-color: #d6efc6bd !important;
}

.navbar li.active a {
  background-color: #d6efc6bd !important;
}

.navbar-brand{
  font-size: 1.5em;
  font-weight: 600;
}

.box {
  width: 800px;
  max-width: 100%;
  margin: 1em auto;
  background-color: #eee;
  padding: 1px 16px;
  box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 0px 10px rgba(0,0,0,0.23);
}

.centered {
  width: 80%;
  margin: 0 auto;
  width: 100% !important;
}

.column8 {
  width: 100% !important;
}

.margin {
  width: 80% !important;
  margin-left:auto; 
  margin-right:auto;
}

a{
  display: table;
  margin-left:auto; 
  margin-right:auto;
}

ul{
  display: table;
  margin-left:auto; 
  margin-right:auto;
}